<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>AIKGroupTitles</key>
		<array>
			<string>app-icon-group-multicolor</string>
			<string>app-icon-group-tint</string>
			<string>app-icon-group-light</string>
			<string>app-icon-group-dark</string>
		</array>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dark-1</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-10</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-11</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-2</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-3</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-4</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-5</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-6</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-7</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-8</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark-9</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>3</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-1</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-10</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-11</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-2</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-3</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-4</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-5</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-6</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-7</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-8</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>light-9</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>2</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>multicolor-2</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>0</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>multicolor-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>multicolor-3</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>0</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>multicolor-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>multicolor-4</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>0</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>multicolor-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-1</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-10</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-11</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-2</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-3</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-4</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-5</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-6</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-7</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-8</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tint-9</key>
			<dict>
				<key>AIKGroupIdentifier</key>
				<integer>1</integer>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tint-9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>$(ASSETCATALOG_COMPILER_APPICON_NAME)</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
